<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @purchase.description %>
</p>

<p>
  <b>Delivered at:</b>
  <%= @purchase.delivered_at %>
</p>

<p>
  <b>Supplier:</b>
  <%= @purchase.display_supplier %>
</p>

<%= display_invoice @purchase %>

<h2>Line Items</h2>

<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>
<% @purchase.line_items.each do |item| %>
  <tr>
    <td><%= item.product.name %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency item.cost, :unit => "PhP" %></td>
    <td><%= link_to "Edit", edit_purchase_line_item_path(@purchase, item) %></td>
    <td>
      <%= link_to "Destroy", purchase_line_item_path(@purchase, item),
            :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<p><%= link_to "New Line Item", new_purchase_line_item_path(@purchase) %></p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
