<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @purchase.description %>
</p>

<p>
  <b>Delivered at:</b>
  <%= @purchase.delivered_at %>
</p>

<p>
  <b>Supplier:</b>
  <%= @purchase.display_supplier %>
</p>

<%= display_invoice @purchase %>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
