<p id="notice"><%= flash[:notice] %></p>

<%= form_tag search_products_path, {:method => :get} do %>
  <%= label_tag "name", "Search by product name:" %>
  <%= text_field_tag "name" %>
  <%= submit_tag "Search" %>
<% end %>

<h1>Listing Products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Stock</th>
  </tr>
  <%= render({ :partial => "item", :collection => @products }) %>
</table>

<p><%= link_to "Create a new Product", new_product_path %></p>
