<p id="notice"><%= flash[:notice] %></p>

<h1><%=t "views.product.header.show" %></h1>
<p>
  <b><%= label(:product, :name) %>:</b>
  <%= @product.name %>
</p>
<p>
  <b><%= label(:product, :description) %>:</b>
  <%= @product.description %>
</p>
<p>
  <b><%= label(:product, :cost) %>:</b>
  <%= number_to_currency @product.cost %>
</p>
<p>
  <b><%= label(:product, :stock) %>:</b>
  <%= number_with_delimiter @product.stock %>
</p>
<p>
  <b><%= label(:product, :created_at) %>:</b>
  <%=l @product.created_at %>
</p>

<h2>Related Purchases</h2>
<ul>
  <% @product.purchases.each do |purchase| %>
    <li><%= link_to purchase.description, purchase %></li>
  <% end %>
</ul>

<%= link_to 'Edit this record', edit_product_path(@product) %> <br />
<%= link_to 'Delete this record', @product,
  { :confirm => 'Are you sure?', :method => :delete } %> <br />
<%= link_to 'Back to List of Products', products_path %>
