<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @supplier.name %>
</p>

<p>
  <b>Contact number:</b>
  <%= @supplier.contact_number %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
